<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ user.name }}'s Movies - MovieWeb App</title>
</head>
<body>
    <header>
        <div class="header">
            <h1>My Movie Database</h1>
        </div>
    </header>
    <h1>{{ user.name }}'s Favorite Movies</h1>
    <ul>
        {% for movie in movies %}
            <li>
                {{ movie.name }} ({{ movie.year }}) - Rating: {{ movie.rating }}
                <a href="/users/{{ user.id }}/update_movie/{{ movie.id }}">Edit</a>
                <a href="/users/{{ user.id }}/delete_movie/{{ movie.id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/users/{{ user.id }}/add_movie">Add New Movie</a>
    <br><a href="/">Back to Users</a>
</body>
</html>